body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 200px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: none;
}

.mid {
  display: flex;
  flex: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 350px;
  height: 250px;
  padding: 10px;
  flex: none;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 5px;
  font-size: 20px;
}